# Copy to .env and fill in.
# Get a free API key at https://openweathermap.org/api (Current Weather Data).
OPENWEATHER_API_KEY=

# Find your UID with: id -u
# and substitute 1000 with the number you get
AIRFLOW_UID=1000
